PORT=10000
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/medicare
JWT_SECRET=your_jwt_secret_here
STRIPE_SECRET_KEY=

FRONTEND_URL=https://medicare-frontend.onrender.com
ADMIN_URL=https://medicare-admin.onrender.com

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_key
CLOUDINARY_API_SECRET=your_cloudinary_secret

# PayPal
PAYPAL_MODE=sandbox
PAYPAL_CLIENT_ID=your_paypal_client_id
PAYPAL_CLIENT_SECRET=your_paypal_client_secret
